* {
    padding: 0%;
    margin: 0%;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F3D7CA;
    width: 100%;
    height: 70px;
    z-index: 1;
}

.nav {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
}

.logo {
    flex: 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 35px;
    font-family: "Libre Baskerville", serif;
}

a {
    margin: 15px;
    color: #3C0753;
    text-decoration: none;
    text-transform: uppercase;
}

.banner img{
    position: relative;
    width: 100%;
    height: 120vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.heading {
    color: #3C0753;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: left;
    margin-left: 20%;
    font-family: "Libre Baskerville", serif;
    font-size: 50px;
}

.banner p {
    color: #F3D7CA;
    position: absolute;
    top: 60%;
    width: 100%;
    text-align: left;
    margin-left: 20%;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
}

.about-area, .skill-area, .education-area, .gallery-area {
    background-color: #FFF8E3;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12%;
    align-items: center;
    padding: 10px;
    margin: 2px;
    font-size: 4em;
}

.text-part {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;
    padding: 40px;
    margin: 0px;
    color: #3C0753;
}

.text-part h2 {
    display: flex;
    justify-content: right;
    align-items: center;
    font-family: "Libre Baskerville", serif;
    font-size: 3em;
}

.text-part p {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 25px;
    color: #910A67;
}

img {
    width: 400px;
    height: 400px;
}

.picture {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.wrapper{
    margin: 150px auto;
    width: 70%;
}

.wrapper img{
    max-width: 350px;
    float: left;
    border: 5px solid #62b6ee;
    border-radius: 10px;
    margin-right: 15px;
}

.picture {
    padding: 0%;
}

.wrapper img{
    max-width: 350px;
    float: left;
    border: 5px solid #3C0753;
    border-radius: 10px;
    margin-right: 15px;
}

.text-box h2{
    font-size: 55px;
    margin-top: 125px;
    font-family: "Libre Baskerville", serif;
}

.text-box p{
    font-size: 25px;
    color: #910A67;
    font-family: "Montserrat", sans-serif;;
}

.text-part1 {
    text-align: center;
    margin: 50px;
}

.text-part1 h2 {
    font-size: 55px;
    font-family: "Libre Baskerville", serif;
    color: #3C0753;
}

.text-part1 p {
    font-size: 25px;
    color: #910A67;
}

.icons1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12%;
    align-items: center;
    padding: 10px;
    margin: 2px;
    font-size: 4em;
}

.text-part2 {
    text-align: center;
    margin: 50px;
}

.text-part2 h2 {
    font-size: 55px;
    font-family: "Libre Baskerville", serif;
    color: #3C0753;
}

.text-part2 p {
    font-size: 25px;
    color: #910A67;
    padding: 5px;
}

footer {
    color: #910A67;
    text-align: center;
    padding: 10px;
}

/*.friends {
    gap: 16px;
    column-count: 4;
    height: 300px;

    box-sizing: border-box;
    padding: var(gap);

    display: grid;
    grid-template-columns: repeat(var(column-count), 1fr);
    grid-auto-rows: var(height);
    gap: var(gap);
}

/*.friends img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*.friends-grid-col-2 {
    grid-row: span 2;
}

.friends-grid-row-2 {
    grid-column: span 2;
}

/*@media screen and (max-width: 1024px) {
    .friends {

    }
    
}